body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*TESTING BACKGROUND OF DIV*/
.page-background-class {
    background-image:url(../Content/Images/SMBbackground.jpg);
    background-repeat:no-repeat;
    background-size: contain;
    background-position-x: right;
}

.featured {
    float: center;
    position: relative;
    width: 100%;
    margin: 3.0em 0.5em 2.0em 0.5em;
    padding: 1.0em;
    background-color: #fff;
    border: #ccc solid 1px;
    border-radius: 0.6em;
}
