@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Gamer Gateway is a privately owned family business that helps to connect gamers to the games that they love!</p>

<body background="~/Content/Images/CrackleTexture.jpg"></body>