@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    8675309 GG Easeway<br />
    Bethesda, MD 20810<br />
    <abbr title="Phone">P:</abbr>
    800.555.GAME

</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@gamergateway.com">Support@gamergateway.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@gamergateway.com">Marketing@gamergateway.com</a>
</address>

@*<body background="~/Content/Images/SMBbackground.jpg" ></body>*@