@{
    ViewBag.Title = "Home Page";
}
<html>
<body>
    <div class="container-text">
        <div class="jumbotron">
            <h1>GAMER GATEWAY</h1>
            <hr />
            <p class="lead">Gamer Gateway is the ultimate source for all your gaming needs!</p>
            @*ADD LINK TO NEW INFO PAGE*@
            <p><a href="https://asp.net" class="btn btn-primary btn-lg">Our Story &raquo;</a></p>
        </div>

        @*TESTING IMAGE SLIDER*@
        @*<div id="slides" class="carousel slide" data-ride="carousel">
                <ul class="carousel-indicators">
                    <li data-target="#slides" data-slide-to="0"</li>
                    <li data-target="#slides" data-slide-to="1"</li>
                    <li data-target="#slides" data-slide-to="2"</li>
                </ul>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/Content/Images/a.png" />
                        <div class="carousel-caption">
                            <h1 class="display-2">Bootstrap</h1>
                            <h3>Complete Website Layout</h3>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/Content/Images/b.png" />
                    </div>
                    <div class="carousel-item">
                        <img src="~/Content/Images/c.png" />
                    </div>
                </div>
            </div>*@


        <div class="text-primary" align="center" style="color:black;">
            <h1>Our Affiliates</h1>
        </div>
        <div class="container-fluid padding">
            <div class="row text-center padding">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <i class="fas fa-gamepad fa-3x"></i>
                    <h2>IGN</h2>
                    <p>
                        Sharp opinions and ground-breaking content for games and entertainment for more than 265 million fans across 34 platforms and 112 countries.
                    </p>
                    <p><a class="btn btn-default" href="https://www.ign.com/">Learn more &raquo;</a></p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <i class="fab fa-steam fa-3x"></i>
                    <h2>Steam</h2>
                    <p>Steam is the ultimate destination for playing, discussing, and creating games. With nearly 30,000 games from AAA to indie and everything in-between. Enjoy exclusive deals, automatic game updates, and other great perks.</p>
                    <p><a class="btn btn-default" href="https://store.steampowered.com/">Learn more &raquo;</a></p>
                </div>
                <div class="col-sm-12 col-md-4">
                    <i class="fab fa-korvue fa-3x"></i>
                    <h2>Kotaku</h2>
                    <p>A great source for gaming reviews, news, tips, and more.</p>
                    <p><a class="btn btn-default" href="https://kotaku.com/">Learn more &raquo;</a></p>
                </div>

            </div>
        </div>


        @*<div class="row">
                <div class="col-md-4">
                    <h2>IGN</h2>
                    <p>
                        Sharp opinions and ground-breaking content for games and entertainment for more than 265 million fans across 34 platforms and 112 countries.
                    </p>
                    <p><a class="btn btn-default" href="https://www.ign.com/">Learn more &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Steam</h2>
                    <p>Steam is the ultimate destination for playing, discussing, and creating games. With nearly 30,000 games from AAA to indie and everything in-between. Enjoy exclusive deals, automatic game updates, and other great perks.</p>
                    <p><a class="btn btn-default" href="https://store.steampowered.com/">Learn more &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Kotaku</h2>
                    <p>A great source for gaming reviews, news, tips, and more.</p>
                    <p><a class="btn btn-default" href="https://kotaku.com/">Learn more &raquo;</a></p>
                </div>
            </div>*@


        @*2 column view*@

        <div class="container-fluid padding">
            <div class="row padding">
                <div class="col-md-12 col-lg-6">
                    <h2>Keep up with the latest gaming trends!</h2>
                    <p>Various upcoming games will be featured here.  Check back frequently to keep informed of the most anticipated titles of the year.</p>
                    <p>Games will be available for pre-order and added to our store upon release.  All pre-orders recieve a 10% discount coupon for your next purchase up to $100.</p>
                    <p>Wall climb combo GUI Civilization Dragon Quest glitch free look. Mod secret character Portal 2 mana The Legend of Zelda: Ocarina of Time Grand Theft Auto: Vice City dpm The Orange Box. Demo waggle matchmaking Xbox Gears of War Batman: Arkham City shovelware. The Legend of Zelda FOV Critical Hit Game Boy Color bottomless pit AFK sweaty goal. GG no re grinding The Oregon Trail homebrew Die-and-Retry Monster Hunter Pac-Man Tony Hawk's Fatality. The Legend of Zelda: Majora's Mask Uncharted anti-aliasing Nintendo OP Wii damage per second.</p>
                    <p>Advergame dynamic game difficulty balancing Assassin's Creed Adventure game CoD Camping/Active Camping anti-aliasing Sega Saturn model. Character design recoi camp Game Boy Advance shoulder buttons Gran Turismo Mario Kart sidequest. DLC griefing Tekken compulsion loop MMO Total War controller Donkey Kong PlayStation Super Mario Galaxy demo AAA. NBA Live Metal Gear Solid V: The Phantom Pain SWTOR bonus stage paddle feeding Platform Game.</p>
                </div>
                <div class="col-lg-6">
                    <iframe src="https://www.youtube.com/embed/dRpXEc-EJow" class="featured"></iframe>
                </div>
            </div>
            <hr class="my-4" />
        </div>

        <!--Connect-->
        <div class="container-fluid padding">
            <div class="row text-center padding">
                <div class="col-12">
                    <h2>Connect</h2>
                </div>
                <div class="col-12 social padding">
                    <a href="#"><i class="fab fa-facebook "></i></a>
                    <a href="#"><i class="fab fa-twitter "></i></a>
                    <a href="#"><i class="fab fa-google-plus-g "></i></a>
                    <a href="#"><i class="fab fa-instagram "></i></a>
                    <a href="#"><i class="fab fa-youtube "></i></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>