@{
    ViewBag.Title = "Home Page";
}

<head>
    <link href="~/Content/Site.css" rel="stylesheet" media="screen" />
</head>


<div class="jumbotron" @*background="~/Content/Images/CrackleTexture.jpg"*@>
    <div class="page-background-class">

        <h1>GAMER GATEWAY</h1>
        <p class="lead">Gamer Gateway is the ultimate source for all your gaming needs!</p>
        @*ADD LINK TO NEW INFO PAGE*@
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Our Story &raquo;</a></p>


    </div>
</div>

@*TESTING VIDEO EMBEDDING*@

<div class="featured">
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/dRpXEc-EJow"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
</div>


<div class="text-primary" align="center" style="color:black;">
    <h1>Our Affiliates</h1>
</div>

@*BACKGROUND IMAGE???*@
@*<body background="~/Content/Images/CrackleTexture.jpg"></body>*@


<div class="row">
    <div class="col-md-4">
        <h2>IGN</h2>
        <p>
            Sharp opinions and ground-breaking content for games and entertainment for more than 265 million fans across 34 platforms and 112 countries.
        </p>
        <p><a class="btn btn-default" href="https://www.ign.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Steam</h2>
        <p>Steam is the ultimate destination for playing, discussing, and creating games. With nearly 30,000 games from AAA to indie and everything in-between. Enjoy exclusive deals, automatic game updates, and other great perks.</p>
        <p><a class="btn btn-default" href="https://store.steampowered.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Kotaku</h2>
        <p>A great source for gaming reviews, news, tips, and more.</p>
        <p><a class="btn btn-default" href="https://kotaku.com/">Learn more &raquo;</a></p>
    </div>
</div>